<html>
    <body>

        <form action="/create-question" method="POST">
            <select name="option">
                <option value="1">image</option>
                <option value="2">text</option>
            </select>
            <input type="text" name="url" placeholder="text/url" required>
            <input type="text" name="answer" placeholder="answer" required>
            <input type="submit" value="create question">
        </form>
        <br>
        
        <form action="/delete-question" method="POST">
            <input type="text" name="answer" placeholder="answer" required>
            <input type="submit" value="delete question with answer">
        </form>
        

        <% for(resp of response) { %>
            
        <%= resp %>
<br>
        <% } %>
    </body>
</html>